$b0: #000;
$b1: #111;
$b2: #222;
$b3: #333;
$w0: #fff;
$w1: #ddd;
$w2: #bbb;

$color1: rgb(87, 54, 30);
$color1-2: rgb(87, 54, 30, .2);
$color1-4: rgb(87, 54, 30, .4);
$color1-6: rgb(87, 54, 30, .6);
$color1-8: rgb(87, 54, 30, .8);
$color2: rgb(196, 115, 53);
$color2-6: rgb(196, 115, 53, .6);
$color3: rgb(242, 154, 82);
$color3-6: rgb(242, 154, 82, .6);
$color4: rgb(38, 96, 163);
$color4-6: rgb(38, 96, 163, .6);
$color5: rgb(237, 247, 246);
$color5-6: rgb(237, 247, 246, .6);